<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Document</title>
   <script src="https://d3js.org/d3.v5.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
   <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


</head>


<body>
   <div class = 'container' style="background:rgb(143, 139, 133);">
      <nav class= "navbar">
         <header class='header' style="color:rgb(0, 255, 13);text-align: center;text-emphasis: width 40px;">
                  <h1>WORLD HAPPINESS VISUALIZATION</h1>
            </header>
            
      </nav>

   </div>
   <button id='corruption'>Corruption Vs Happiness Score</button>
   <!-- <button id='GDP_per_capita'>GDP Per Capita</button> -->
   <button id='combine'>Combine</button>

   <!-- <div id="plot"></div> -->
   <!-- <div id ="scatter_plot"></div> -->
   <div id ="bubbleplotFinal"></div>
  
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script> -->
  <!-- <script src={{ url_for('static', filename='js/app.js')}}></script> -->
  <!-- <script src={{ url_for('static', filename='js/scatterplot.js')}}></script> -->
  <script src={{ url_for('static', filename='js/bubbleplotFinal.js')}}></script>

  <!--<script src="bubbles.js"></script>-->
</body>

</html>